node_modules/
__pycache__/
.venv/
.env
.env.*
!.env.example
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
*.vsix
*.local*
